# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
sdist/
wheels/
venv/
env/
.venv/
_venv/
*.spec

# VS Code
.vscode/

model/Qwen2.5-Coder/**
model/SGPT/**
!model/Qwen2.5-Coder/.gitkeep
!model/SGPT/.gitkeep
logs/
cache/
dump/
statistic/

_secret_auth_.json

data/dataset/Chase/database/**
data/dataset/Chase/prepare/**
data/dataset/Spider/database/**
data/dataset/Spider/prepare/**

!data/dataset/Chase/database/.gitkeep
!data/dataset/Chase/prepare/.gitkeep
!data/dataset/Spider/database/.gitkeep
!data/dataset/Spider/prepare/.gitkeep