vllm==0.4.3
streamlit
prometheus_client==0.20.0
sqlparse
flask
spacy
rank-bm25
nltk
shapely
streamlit_chat
streamlit_lottie
streamlit_option_menu
streamlit_cookies_manager
trycourier==4.4.0
argon2-cffi
scikit-learn
jieba
func_timeout